# Copie ce fichier en .env et remplis les valeurs réelles
# Ne jamais commiter .env sur GitHub

GEMINI_API_KEY=ta_cle_gemini_ici
AMAZON_TAG=easycom0ae-21
TELEGRAM_BOT_TOKEN=a_configurer
TELEGRAM_CHAT_ID=1921851243
